<mat-sidenav-container class="h-100">
  <div fxLayout="row" fxLayoutAlign="center center" class="h-100">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
       <form [formGroup]="signupForm" (ngSubmit)="onSignup()" *ngIf="!isLoading" fxFlex="90" fxFlex.gt-sm="30" fxFlex.sm="60" class="mat-elevation-z6">
            <app-content-header 
                [icon]="'person_add'" 
                [title]="'Register'" 
                [hideBreadcrumb]="true"
                [hasBgImage]="true" 
                [class]="'py-4'"></app-content-header>            
            <div class="p-4">
                <a mat-button routerLink="/auth/login" color="accent" class="w-100">Already have an account? Sign in!</a>
                <mat-form-field class="w-100">
                    <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">person</mat-icon>
                    <input matInput placeholder="First Name" formControlName="firstName">
                    <mat-error *ngIf="signupForm.controls.firstName.errors?.required">First Name is required</mat-error>
                    <mat-error *ngIf="signupForm.controls.firstName.hasError('minlength')">First Name isn't long enough, minimum of 3 characters</mat-error>
                </mat-form-field>
                <mat-form-field class="w-100">
                    <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">person</mat-icon>
                    <input matInput placeholder="Last Name" formControlName="lastName">
                    <mat-error *ngIf="signupForm.controls.lastName.errors?.required">Last Name is required</mat-error>
                    <mat-error *ngIf="signupForm.controls.lastName.hasError('minlength')">Last Name isn't long enough, minimum of 3 characters</mat-error>
                </mat-form-field>
                <mat-form-field class="w-100">
                    <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">mail</mat-icon>
                    <input matInput placeholder="Email" formControlName="email">
                    <mat-error *ngIf="signupForm.controls.email.errors?.required">Email is required</mat-error>
                    <mat-error *ngIf="signupForm.controls.email.hasError('invalidEmail')">Invalid email address</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>Choose type</mat-label>
                  <mat-select formControlName="type" required>
                    <mat-option value="consumer"> Consumer </mat-option>
                    <mat-option value="support"> Support </mat-option>
                  </mat-select>
                  <mat-error *ngIf="signupForm.controls.type.errors?.required">Type is required</mat-error>
                </mat-form-field>
                <mat-form-field class="w-100">
                    <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">lock</mat-icon>
                    <input matInput placeholder="Password" formControlName="password" [type]="hide ? 'password' : 'text'" minlength="6">
                    <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="signupForm.controls.password.errors?.required">Password is required</mat-error>
                    <mat-error *ngIf="signupForm.controls.password.hasError('minlength')">Password isn't long enough, minimum of 6 characters</mat-error>
                </mat-form-field> 
                <mat-form-field class="w-100">
                    <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">lock</mat-icon>
                    <input matInput placeholder="Confirm Password" formControlName="confirmPassword" [type]="hideCon ? 'password' : 'text'">
                    <button mat-icon-button matSuffix type="button" (click)="hideCon = !hideCon" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideCon">
                      <mat-icon>{{hideCon ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="signupForm.controls.confirmPassword.errors?.required">Confirm Password is required</mat-error>
                    <mat-error *ngIf="signupForm.controls.confirmPassword.hasError('mismatchedPasswords')">Passwords do not match</mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary" [disabled]="signupForm.invalid" *ngIf="!isLoading" class="mat-elevation-z6 w-100 mt-3" type="submit">SIGN UP</button>
            </div>
        </form>
  </div>
</mat-sidenav-container>






<!-- <mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="signupForm" (submit)="onSignup()" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        formControlName="firstName"
        type="text"
        placeholder="First name"
        required
      />
      <mat-error *ngIf="signupForm.get('firstName').invalid"
        >Please enter first name.</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        formControlName="lastName"
        type="text"
        placeholder="Last name"
        required
      />
      <mat-error *ngIf="signupForm.get('lastName').invalid"
        >Please enter last name.</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Choose type</mat-label>
      <mat-select formControlName="type" required>
        <mat-option value="consumer"> Consumer </mat-option>
        <mat-option value="support"> Support </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-error *ngIf="signupForm.get('type').invalid"></mat-error>
    <mat-form-field>
      <input
        matInput
        formControlName="email"
        type="email"
        placeholder="E-Mail"
        required
        email
      />
      <mat-error *ngIf="signupForm.get('email').invalid"
        >Please enter a valid email.</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        type="password"
        formControlName="password"
        matInput
        placeholder="Password"
        required
      />
      <mat-error *ngIf="signupForm.get('password').invalid"
        >Please enter a valid password.</mat-error
      >
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">
      Signup
    </button>
    <a mat-button color="primary" routerLink="/auth/login">Already have an account, Login</a>
  </form>
</mat-card> -->
